.movie-card-image {
  width: 100%;
  max-width: 230px;
  height: 280px;
  align-self: center;
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #032541;
}

.movie-rating {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #83cca6;
}

.list-item {
  min-width: 84px;
  width: 30%;
  height: 180px;
  margin-bottom: 30px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .list-item {
    width: 24%;
    max-width: 245px;
    height: 450px;
    padding: 10px;
    outline: 2px solid crimson;
    border-radius: 15px;
    margin: 9px;
    margin-bottom: 10px;
  }
}

.btn {
  height: 6vh;
  width: 15vh;
  background-color: blue;
  border-radius: 12px;
  color: white;
  font-size: 15px;
  font-family: 'Bree Serif';
  justify-content: flex-end;
}
